# Xcode and system
.DS_Store
Products
*.pbxuser
*.perspectivev3



# Unity3D
/Build/
/Temp/*
/Library/*



# Monodevelop
/Assembly-CSharp.pidb
*.userprefs

# Visual Studio
*.suo
*.user
obj/

# Ignore the following files
# --------------------------
# Unity3D specific
#
**/Library/*
**/Temp/*
**/*.csproj
**/*.unityproj
**/*.sln
**/*.userprefs
**/*.pidb

# include meta files
!*.*.meta

